{% include "parties/header.html" %} 


{% block content %}

     <div class="container mt-5">
        <div class = "card shadow-sm p-3 mb-5 bg-body rounded">
            <div class = "card-body row g-0">
            <h2>Cadastro de Usuário</h2>
            <form method="post" action="{% url 'cadastrar' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome</label>
                    {{ form.nome }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="id_senha" class="form-label">Senha</label>
                    {{ form.senha }}
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
