{% include "parties/header.html" %} 

<body>
    
    {% if request.session.usuario_nome %}
    <div class="container text-center mt-5">
        <h1>Bem-vindo, {{ request.session.usuario_nome }}!</h1>
        <br><br>
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">Questionários</h2>
              <p> Indicadas para estudantes em programação</p>
              <a href="{% url 'lista_questionarios' %}" class="btn btn-primary">Vamos começar!</a>
            </div>
          </div>
    </div>
    <div class="container text-center mt-5">
        <br>
        <div class="card">
            <div class="card-body">
              <h2 class="card-title">Questões</h2>
              <p> Crie e pratique com questões</p>
              <a href="{% url 'lista_questoes' %}" class="btn btn-primary">Vamos começar!</a>
            </div>
          </div>
    </div>
{% else %}
    <div class="container">
        <h1>Você não está logado!</h1>
    </div>
{% endif %}

   
</body>
</html>