{% include "parties/header.html" %} 

<div class = "container text-center">
<h2>Lista de Questões</h2>

<a href="{% url 'nova_questao' %}" class="btn btn-primary">Nova Questão</a>

    <ul>{% if questao.imagem %}
        <img src="{{ questao.imagem.url }}" alt="Imagem da questão" style="max-width: 300px;">
    {% endif %}
    <p>{{ questao.enunciado }}</p>

    {% for questao in questoes %}
    <li>
        {{ questao.enunciado }}
        <a href="{% url 'editar_questao' questao.pk %}">Editar</a>
        <a href="{% url 'deletar_questao' questao.pk %}">Deletar</a>
    </li>
    {% endfor %}
</ul>
</div>